@media screen and (max-width: 992px) {
    .countries {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .countries {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 576px) {
    .countries {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
.flag-container img{
    width: 100px;
    height: 100px;
    margin: 10px;
}